
@if (last_status != undefined) {
<div class="menu flex align-content-center">
  <p-button class="flex align-items-center" severity="danger" icon="pi pi-user-plus" [disabled]="!(last_status.experiment_state == 'STIMULUS_COMPLETED' || last_status.experiment_state == 'RESET_POSITION' || last_status.experiment_state == 'STIMULUS_READY' || last_status.experiment_state == 'INIT')" (onClick)="nextParticipant()"></p-button>
  <div class="flex align-items-center">
    <div class="flex align-items-center justify-content-center pid"><span>PID: {{last_status.PID}}</span></div>
  </div>
  <div class="flex flex-grow-1"></div>
  <div class="field">
    <span class="fieldtitle">State:</span><br />
    <span class="fieldvalue">{{last_status.experiment_state}}</span>
  </div>
  <div class="flex flex-grow-1"></div>
  <div class="flex align-items-center">
    <div class="flex align-items-center justify-content-center fpscounter"><span>FPS: {{last_status.fps.toFixed(2)}}</span></div>
  </div>
  <div class="flex align-items-center">
    <div class="flex align-items-center justify-content-center recindicator {{ last_status.write_log == 1 ? 'rec' : '' }}"><span>LOG</span></div>
  </div>
  <div class="flex align-items-center">
    <div class="flex align-items-center justify-content-center recindicator {{ last_status.write_audio == 1 ? 'rec' : '' }}"><span>MIC</span></div>
  </div>
  <p-toggleButton class="flex align-items-center m-l-3" size="small" [(ngModel)]="showHidden" onIcon="pi pi-file-edit" offIcon="pi pi-file-edit"></p-toggleButton>
  <p-button class="flex align-items-center" icon="pi pi-refresh" (onClick)="refreshStimuli()"></p-button>
</div>
<div class="menu flex align-content-center">
  <div class="field flex align-items-center">
    <span class="fieldvaluelarge">
      {{last_status.stimulus_name}}
      @if (last_status.replay_counter > 0) {
        (R: {{last_status.replay_counter}})
      }
    </span>
  </div>
  <div class="flex flex-grow-1"></div>
    @if (last_status.experiment_state == "RESET_POSITION_QUESTIONS" || last_status.experiment_state == "RESET_POSITION") {
      <div class="field flex align-items-center">
        <span class="fieldvalueexperimenter">Return to Start</span>
      </div>
      <div class="flex flex-grow-1"></div>
    }

    @if (last_status.experiment_state == "STIMULUS_READY" || last_status.experiment_state == "RESET_POSITION") {
      <p-button class="flex align-items-center" icon="pi pi-play" severity="success" label="Play Stimulus" [disabled]="last_status.experiment_state != 'STIMULUS_READY'" (onClick)="playStimulus(last_status.stimulus_name)"></p-button>
    }
    @if (last_status.experiment_state == "STIMULUS_QUESTIONS" || last_status.experiment_state == "RESET_POSITION_QUESTIONS" || last_status.experiment_state == "STIMULUS_QUESTIONS_COMPLETED" || last_status.experiment_state == "STIMULUS_INTERVIEW") {
      <p-button class="flex align-items-center" icon="pi pi-play" severity="primary" label="Replay Stimulus" [disabled]="last_status.experiment_state == 'RESET_POSITION_QUESTIONS' || last_status.experiment_state == 'RESET_POSITION'" (onClick)="playStimulus(last_status.stimulus_name)"></p-button>
    }
    @if (last_status.experiment_state == "STIMULUS_QUESTIONS_COMPLETED") {
      <p-button class="flex align-items-center" icon="pi pi-microphone" severity="danger" label="Start Interview" [disabled]="last_status.experiment_state != 'STIMULUS_QUESTIONS_COMPLETED'" (onClick)="startInterview()"></p-button>
    }
    @if (last_status.experiment_state == "STIMULUS_INTERVIEW") {
      <p-button class="flex align-items-center" icon="pi pi-stop-circle" severity="primary" label="End Interview" [disabled]="last_status.experiment_state != 'STIMULUS_INTERVIEW'" (onClick)="stopInterview()"></p-button>
    }
    @if (last_status.experiment_state == "STIMULUS_PLAYING" || last_status.experiment_state == "STIMULUS_STARTING" || last_status.experiment_state == "STIMULUS_WAIT_FOR_TRIGGER") {
      <div class="field" style="min-width: 300px;">
        <span class="fieldtitle">Stimulus Time:</span><br />
        @if (last_status.experiment_state == "STIMULUS_WAIT_FOR_TRIGGER") {
            <span class="fieldvalue">WAIT FOR PARTICIPANT TO TRIGGER START</span>
        } @else if (last_status.experiment_state == "STIMULUS_STARTING") {
            <span class="fieldvalue">COUNTDOWN</span>
        } @else {
            <span class="fieldvalue">{{last_status.stimulus_time.toFixed(2)}} s</span>
        }
      </div>
    }

</div>

<div class="stimuli flex flex-wrap gap-3 justify-content-left">
  @for (stimulus of stimulus_spec; track trackStimulusSpec) {
    @if (last_status.stimulus_name == stimulus.name|| showHidden || !stimulusHidden(stimulus.name)) {
      <div class="stimulus {{stimulusHidden(stimulus.name) ? 'hiddenstimulus' : '' }} {{ last_status.stimulus_name == stimulus.name ? 'currentstimulus' : '' }}">
        <div class="flex align-content-center">
          <h3 class="flex align-items-center">{{stimulus.name}} ({{stimulus.timeScale.toFixed(2)}}x)</h3>
          <div class="flex flex-grow-1"></div>

          @if (showHidden) {
            <p-toggleButton size="small" class="m-1" [ngModel]="stimulusHidden(stimulus.name)" (onChange)="setHidden(stimulus.name, $event)" onIcon="pi pi-eye-slash" offIcon="pi pi-eye"></p-toggleButton>
            <p-button size="small" class="m-1 flex align-items-center" icon="pi pi-file-edit" [disabled]="last_status.stimulus_name == stimulus.name || !(last_status.experiment_state == 'STIMULUS_COMPLETED' || last_status.experiment_state == 'RESET_POSITION' || last_status.experiment_state == 'STIMULUS_READY' || last_status.experiment_state == 'INIT')" (onClick)="editStimulus(stimulus.name, stimulus.timeScale, stimulus.instructions)"></p-button>
          }
          <p-button size="small" class="m-1 flex align-items-center" icon="pi pi-file-import" [disabled]="last_status.stimulus_name == stimulus.name || !(last_status.experiment_state == 'STIMULUS_COMPLETED' || last_status.experiment_state == 'RESET_POSITION' || last_status.experiment_state == 'STIMULUS_READY' || last_status.experiment_state == 'INIT')" (onClick)="readyStimulus(stimulus.name)"></p-button>
        </div>
        <div class="instructions">{{stimulus.instructions}}</div>
      </div>
    }
  }
</div>
} @else {
  <div class="menu flex align-content-center">
    <div class="flex align-items-center">
      <span>Error: Receiving no data from VR System...</span>
    </div>
  </div>
}

<div class="log flex align-content-center gap-3 justify-content-left">

@if (last_status != undefined) {
  <div class="flex logblock">
    Time: {{last_status.time.toFixed(2) }}<br />
    TimeScale: {{last_status.timescale.toFixed(2) }}<br />

    <br />

    ROBOT.X: {{last_status.robot_transform[0].toFixed(2) }}<br />
    ROBOT.Y: {{last_status.robot_transform[1].toFixed(2) }}<br />
    ROBOT.Z: {{last_status.robot_transform[2].toFixed(2) }}<br />

    RETURN.X: {{last_status.return_transform[0].toFixed(2) }}<br />
    RETURN.Y: {{last_status.return_transform[1].toFixed(2) }}<br />
    RETURN.Z: {{last_status.return_transform[2].toFixed(2) }}<br />
  </div>

  <div class="flex logblock">
    HEAD.X: {{last_status.participant_head_transform[0].toFixed(2) }}<br />
    HEAD.Y: {{last_status.participant_head_transform[1].toFixed(2) }}<br />
    HEAD.Z: {{last_status.participant_head_transform[2].toFixed(2) }}<br />
    <br />
    LEFT.X: {{last_status.participant_lefthand_transform[0].toFixed(2) }}<br />
    LEFT.Y: {{last_status.participant_lefthand_transform[1].toFixed(2) }}<br />
    LEFT.Z: {{last_status.participant_lefthand_transform[2].toFixed(2) }}<br />
    <br />
    RIGHT.X: {{last_status.participant_righthand_transform[0].toFixed(2) }}<br />
    RIGHT.Y: {{last_status.participant_righthand_transform[1].toFixed(2) }}<br />
    RIGHT.Z: {{last_status.participant_righthand_transform[2].toFixed(2) }}<br />
  </div>

  <div class="flex logblock">
    FLOOR.X: {{last_status.participant_xyz_yaw[0].toFixed(2) }}<br />
    FLOOR.Y: {{last_status.participant_xyz_yaw[1].toFixed(2) }}<br />
    FLOOR.Z: {{last_status.participant_xyz_yaw[2].toFixed(2) }}<br />
    FLOOR.YAW: {{last_status.participant_xyz_yaw[3].toFixed(2) }}<br />
    <br />
    Robot.Angle: {{last_status.participant_robot_angledist[0].toFixed(2) }}<br />
    Robot.Dist: {{last_status.participant_robot_angledist[1].toFixed(2) }}<br />
    Actor1.Angle: {{last_status.participant_actor1_angledist[0].toFixed(2) }}<br />
    Actor1.Dist: {{last_status.participant_actor1_angledist[1].toFixed(2) }}<br />
    Actor2.Angle: {{last_status.participant_actor2_angledist[0].toFixed(2) }}<br />
    Actor2.Dist: {{last_status.participant_actor2_angledist[1].toFixed(2) }}<br />
  </div>
} @else {
  <div class="flex logblock">
    ERROR: NO DATA
  </div>
}
  <div class="flex flex-grow-1"></div>
  <div class="flex logblock canvas">
    <canvas id="canvas-box"></canvas>
  </div>
</div>

<div class="menu flex align-items-center">
    <div class="flex align-items-center">
        <h3 class="flex align-items-center">EDIT GLOBAL SETTINGS</h3>
    </div>
    <div class="flex flex-grow-1"></div>
    @if (last_status != null) {
    <div class="field">
      <span class="fieldtitle">TimeScale:</span><br />
      <span class="fieldvalue">{{last_status.timescale.toFixed(2)}}</span>
    </div>
    }
    <p-inputNumber class="m-1" [size]="1" [(ngModel)]="timeScaleSetting" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.1" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
    <p-button class="m-1" severity="primary" icon="pi pi-clock" label="Set" (onClick)="setTimeScale(timeScaleSetting)"></p-button>
</div>

<app-postscreenspec (readSpecEvent)="readSpecEvent($event)" (writeSpecEvent)="writeSpecEvent($event)" (setSpecEvent)="setSpecEvent($event)" [(spec)]="screenspec" [id]="screenspecid"></app-postscreenspec>

<p-dialog header="Editing Description for {{editingStimulusName}}" [(visible)]="editingStimulus" [style]="{width: '700px'}">
  <textarea rows="5" cols="80" pInputTextarea [(ngModel)]="editingStimulusInstructions"></textarea> <br />
  @if (editingStimulusTimeScale) {
    <div class="field">
      <span class="fieldtitle">TimeScale:</span><br />
      <span class="fieldvalue">{{editingStimulusTimeScale.toFixed(2)}}</span>
    </div>
    <p-inputNumber class="m-1" [size]="1" [(ngModel)]="editingStimulusTimeScale" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.1" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber><br />
  }
  <p-button severity="danger" label="Save Instructions" class="m-1" size="small" icon="pi pi-save" (onClick)="saveChangedStimulusInstructions()"></p-button>
</p-dialog>

<router-outlet />